/* 공통 모달 스타일 */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-backdrop.open {
  display: flex;
}

.modal {
  width: 25rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1.5em;
  box-sizing: border-box;
  border-radius: 12px;
  background-color: #fff;
}

/* 내역 추가 모달 스타일 */
form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

label {
  font-weight: 500;
}

.add-column {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.add-row {
  display: flex;
  gap: 0.5em;
}

.add-row > div {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.5em;
}

.add-dropdown {
  position: relative;
  width: 100%;
}

.add-dropdown .dropdown-btn,
.add-dropdown .dropdown-menu {
  width: 100%;
}

.modal-add-btn {
  width: fit-content;
  border: none;
  padding: 0.5em 1em;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
  background-color: #f5c9b0;
}

.add-date-input {
  font-size: 1em;
  cursor: pointer;
}

.add-date-input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

/* 항목 상세 모달 스타일 */
.modal-content-detail {
  width: 100%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.modal-close-btn {
  width: 1.2em;
  cursor: pointer;
}

.detail-list {
  width: 100%;
}

.detail-row {
  display: grid;
  grid-template-columns: 6em 1fr;
  align-items: center;
  padding: 0.5em 0;
  border-bottom: 1px solid #e9e9e9;
}

.detail-label {
  font-weight: 600;
  font-size: 0.9em;
  color: #43464b;
}

.detail-value {
  font-size: 0.9em;
}